/* ========== BASE STYLING ========== */
* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 20px;
}

/* ========== MENU ========== */
h1 {
  font-size: 1.75em;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.item-1, .item-2, .item-3 {
  background-color: gray;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: justify;
  display: grid;
  justify-items: right;
  margin-bottom: 20px;
}

.item-1-title, .item-2-title, .item-3-title {
  font-size: 1.25em;
  width: 120px;
  height: 40px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.item-1-title {
  background-color: orange;
  color: black;
}

.item-2-title {
  background-color: purple;
  color: white;
}

.item-3-title {
  background-color: pink;
  color: black;
}

p {
  width: auto;
  height: 145px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  overflow: hidden;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}
  
/* ========== MEDIA QUERIES ========== */
/* ========== DESKTOP ========== */
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, 
  .col-lg-4, .col-lg-5, .col-lg-6, 
  .col-lg-7, .col-lg-8, .col-lg-9, 
  .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: calc(33.33% - 13.3px);
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .item-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* ========== TABLET ========== */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, 
  .col-md-4, .col-md-5, .col-md-6, 
  .col-md-7, .col-md-8, .col-md-9, 
  .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: calc(50% - 10px);
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .item-1 {
    margin-right: 20px;
  }
}

/* ========== MOBILE ========== */
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, 
  .col-sm-4, .col-sm-5, .col-sm-6, 
  .col-sm-7, .col-sm-8, .col-sm-9, 
  .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}